# Laravel cache/logs we don't need
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/debugbar
storage/*.key
storage/app/public
.env
.env.*

# Node / frontend build artifacts
node_modules
npm-debug.log
yarn-error.log

# OS/editor files
.vscode
.idea
**/.git
**/.gitignore
**/.gitattributes
**/*.log
**/*~
**/.DS_Store
**/Thumbs.db

# Laravel hot reload
public/hot
