
# Node/npm
node_modules
npm-debug.log
yarn-error.log

# Environment
.env
.env.*

# Laravel build artifacts
public/hot
storage/*.key
storage/app/public
storage/debugbar
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
vendor
bootstrap/cache/*
